body{
    background-color: #191414;
    text-align: center;
    color: rgb(160, 160, 160);
}

.images{
    display: inline;
}

.imagePallet{
    border-radius: 50% !important;
    border-style: groove;
    border-color: rgb(160, 160, 160);
    height: 200px;
    width: 200px;
    margin: 25px;
    transition: all .2s ease-in;
}

.imagePallet:hover{
    width: 250px;
    height: 250px;
}